.nav-article {
    position: fixed;
    right: 0px;
}

.left-button {
    font-size: 3em;
    border: none;
    outline: none;
    background-color: transparent;
    transform: rotate(90deg);
}

.right-button {
    font-size: 3em;
    border: none;
    outline: none;
    background-color: transparent;
    transform: rotate(90deg);
}