.top-container {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: white;
    cursor: pointer;
}

.top-container-categories {
    padding-left: 60vw;
}

.top-container-categories li {
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg) translateX(-100%);
  }
  /* ul.nav li {    
    margin-right:20px;
    float:right;
    height:100%;
    line-height:45px;
  } */