@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&display=swap');


.top-container {
    min-width: 100%;
    display: flex;
    color: white;
    cursor: pointer;
    
}

.top-container-title {
    /* writing-mode: tb-rl;
    transform:rotate(-180deg); */
    font-size: 1em;
    font-family: 'Bodoni Moda', serif;
    font-weight: 400;
}

.top-container-categories {
    /* writing-mode: tb-rl;
    transform:rotate(-180deg); */
    font-family: 'Didact Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    /* text-align-last: end; */
}

.top-container-categories li {
    text-decoration: underline;
}



.cart-button {
    margin-right: 3em;
}

/* .top-container-categories li {
    -webkit-transform:rotate(-90deg) translateX(-100%);
    min-width: 2em;
  } */
  /* ul.nav li {    
    margin-right:20px;
    float:right;
    height:100%;
    line-height:45px;
  } */