.top-container-categories {
  transform: rotate(-90deg);
  text-align: right;
  color: white;
  position: absolute;
  right: 0;
  margin-right: 10%;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 4px;
  line-height: 1.5em;
}

.li-item:hover {
  color: black;
}

.nav-active {
  color: black;

}


@media screen and (max-width: 500px) {
  .top-container-categories{
    display: none;
  }
}
