.upside {
  display: flex;
  justify-content: flex-start;
  transition: 0.4s;
  padding-top: 3vw;
}

.title {
  transform: rotate(-90deg);
  display: flex;
  height: fit-content;
  padding-top: 7.8vw;
  padding-right: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title:hover {
  color: black;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 0.2vw;
}

.product-card-item {
  padding-bottom: 1em;
  color: white;
}

.product-card-title {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product-card-title:hover {
  color: black;
}

.product-card-description {
  color: white;
  font-size: 16px;
  width: 25vh;
  height: 14vw;
  opacity: 80%;
  letter-spacing: 0.8px;
  line-height: 22px;
}

.product-card-price {
  color: white;
  font-size: 20px;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1000px);
}

.previous-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000px);
}

@keyframes up {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, -1000px);
  }
}

@keyframes down {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 1000px);
  }
}

@keyframes upnext {
  0% {
    transform: translate(-50%, -1000px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes downnext {
  0% {
    transform: translate(-50%, 1000px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

.upside, .downside {
  height: 50vh;
  width: 100%;
}

.downside {
  width: 100%;
  margin: 0;
  text-align: center;
  height: 50vh;
  padding-top: 120px;
  box-sizing: border-box;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -400px;
  }
}

.fade-in-1 {
  animation: fadeIn ease 0.4s;
  -webkit-animation: fadeIn ease 0.4s;
  -moz-animation: fadeIn ease 0.4s;
  -o-animation: fadeIn ease 0.4s;
  -ms-animation: fadeIn ease 0.4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 0.6s;
  -webkit-animation: fadeIn ease 0.6s;
  -moz-animation: fadeIn ease 0.6s;
  -o-animation: fadeIn ease 0.6s;
  -ms-animation: fadeIn ease 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1700px) {
  .product-card-description {
    height: 16vw;
  }
}

@media screen and (max-width: 1100px) {
  .product-card-description {
    height: 15vw;
  }
}

@media screen and (max-width: 800px) {
  .product-card-description {
    height: 15vw;
  }
}

@media screen and (max-width: 900px) {
  .product-card-description {
    height: 18vw;
  }
}

@media screen and (max-width: 650px) {
  .product-card-description {
    height: 21vw;
  }
}

@media screen and (max-width: 1500px) {
  .title {
    padding-top: 8.8vw;
  }
}

@media screen and (max-width: 1300px) {
  .title {
    padding-top: 10vw;
  }
}

@media screen and (max-width: 1150px) {
  .title {
    padding-top: 13vw;
  }
}

@media screen and (max-width: 950px) {
  .title {
    padding-top: 13vw;
  }
}

@media screen and (max-width: 850px) {
  .title {
    padding-top: 15vw;
  }
}