.upside {
  display: flex;
  justify-content: flex-start;
  transition: 0.4s;
  padding-top: 3vw;
}

.title {
  transform: rotate(-90deg);
  display: flex;
  height: fit-content;
  padding-top: 7.8vw;
  padding-right: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title:hover {
  color: black;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 0.2vw;
}

.product-card-item {
  padding-bottom: 1em;
  color: white;
}

.product-card-title {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product-card-title:hover {
  color: black;
}

.product-card-description {
  color: white;
  font-size: 16px;
  width: 25vh;
  height: 9vw;
  opacity: 80%;
  letter-spacing: 0.8px;
  line-height: 22px;
}

.product-card-price {
  color: white;
  font-size: 20px;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1000px);
}

.previous-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000px);
}

@keyframes up {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, -1000px);
  }
}

@keyframes down {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 1000px);
  }
}

@keyframes upnext {
  0% {
    transform: translate(-50%, -1000px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes downnext {
  0% {
    transform: translate(-50%, 1000px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

.upside,
.downside {
  height: 50vh;
  width: 100%;
}

.downside {
  width: 100%;
  margin: 0;
  text-align: center;
  height: 50vh;
  padding-top: 120px;
  box-sizing: border-box;
  animation: slide 50s linear infinite;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -400px;
  }
}

.fade-in-1 {
  animation: fadeIn ease 0.4s;
  -webkit-animation: fadeIn ease 0.4s;
  -moz-animation: fadeIn ease 0.4s;
  -o-animation: fadeIn ease 0.4s;
  -ms-animation: fadeIn ease 0.4s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn ease 0.6s;
  -webkit-animation: fadeIn ease 0.6s;
  -moz-animation: fadeIn ease 0.6s;
  -o-animation: fadeIn ease 0.6s;
  -ms-animation: fadeIn ease 0.6s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.burger-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  display: none;
}

  @media screen and (max-width: 500px) {
     .main-image {
      width: 17em;
      top: 65%;
    }

    .next-prev-container {
      margin-right: -2.5em !important;
      margin-top: -1em !important;
    }

    .title {
      margin-left: -2.6em;
      margin-top: 2.2em;
      font-size: 1.8em;
    }
    .product-card-title {
      width: 6em;
      
    }

    .product-card-container {
      height: 30em;
      margin-top: 1.2em;
      max-width: 20em;
      margin-left: 1.5vw;
    }

   

    .product-card-description {
      display: none;
    }
    .upside {
      height: 115vw !important;
    }

    .previous-image  {
      width: 17em;
    }

    .next-image {
      width: 17em;
    }
  }

  .slide-cart-wrapper {
    margin-top: 1em;
    letter-spacing: 2px;
  }

  .slide-cart-wrapper h2 {
    text-align: center;
    padding-bottom: 0.5em;
  }

  .slide-cart-wrapper input {
      display: block;
      background: #79CD4C;
      text-transform: uppercase;
      color: white;
      margin-top: 2em;
  }

  .cart-title {
    margin-top: 2em;
    padding-bottom: 1em ;
  }

  .cart {
    padding-top:  2em;
  }

  .cart-elems {
    padding-top: 2em;
  }
  


@media screen and (max-width: 500px) {
  .burger-btn {
    display: block;
    top: 2.2em;
    right: 2.2em;
  }
}
