.product-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 4vw;
  padding-left: 6vw;
}

.product-card-item {
  padding-bottom: 1em;
  color: white;
}

.product-card-title {
  color: white;
  font-size: 28px;
  text-transform: uppercase;
}

.product-card-description {
  color: white;
  font-size: 16px;
  width: 60vh;
  text-align: justify;
}

.product-card-price {
  color: white;
  font-size: 20px;
}

.product-card-button {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  width: 134px;
  height: 50px;
  background: transparent;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card-change-adding {
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  width: 134px;
  height: 52px;

  background: transparent;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: space-around;

  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

.product-card-button:hover {
  border: 3px solid white;
  margin-top: -2px;
  margin-bottom: -2px;
}

.main-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1000px);
}

.previous-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000px);
}

@keyframes up {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, -1000px);
  }
}

@keyframes down {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(-50%, 1000px);
  }
}

@keyframes upnext {
  0% {
    transform: translate(-50%, -1000px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

@keyframes downnext {
  0% {
    transform: translate(-50%, 1000px);
  }
  100% {
    transform: translate(-50%, 0px);
  }
}

.upside, .downside {
  height: 50vh;
  width: 100%;
}

.downside {
width: 100%;
margin: 0;
text-align: center;
height: 50vh;
padding-top: 120px;
box-sizing: border-box; 
animation: slide 50s linear infinite;
}

.upside {
  display: flex;
}

.upside{
transition: 0.4s;
}

@keyframes slide {
from { background-position: 0 0; }
to { background-position: 0 -400px; }
}
